<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>
    <div class="frame">
        <h1 class="frame__title">フォームの値をVue.jsと接続しよう</h1>

        <div class="frame__inner">
            <div id="app">
                <input type="number" v-model="number"> = {{ number }}
            </div>
            <div id="test">
                <input type="number" :value="number"> = 1
            </div>
            <div id="name" class="name">
                <input type="text" v-model="name" placeholder="名前を入力してください">{{ name }}
            </div>
            <hr>
            <div>
                <ul>
                    <dt>name：</dt>
                    <!-- この書き方はできない。v-modelはその要素ないのHTMLフェールドに適応するため。 -->
                    <dl id="" class="name" v-model="name"> {{ name }}</dl>
                </ul>
            </div>
            <!-- ここに、JavaScriptを記述します -->
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script>
                var app = new Vue({
                    el: "#app",
                    data: {
                        number: ''
                    }
                });
                var test = new Vue({
                    el: "#test",
                    data: {
                        number: 999
                    }
                });
                var name = new Vue({
                    el: ".name",
                    data: {
                        name: ''
                    }
                });
            </script>
        </div>
    </div>
</body>

</html>